@page
@model IndexModel
@{
    ViewData["Title"] = "PBbus";
}

<div class="text-center">
    <h1 class="display-4">PBbustest</h1>
</div>

<div class="text-body">
    <p>부산 버스 정류장, 노선도, 도착시간을 알려주는 웹페이지입니다.</p>
    <p class="text-sm-right">- 뚜벅이 -</p>
    <img src="~/lib/버스정류장1.jpg" />
</div>
